{% extends 'authentication/profile.html' %}
{% load custom_tag %}

{% block side_content %}
    <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
        <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="default-tab"
    data-tabs-toggle="#default-tab-content" role="tablist">
    {% if request.user == user_profile %}
        <li class="me-2" role="presentation">
            <button
                class="inline-block p-4 border-b-2 rounded-t-lg hover:text-[#319b94] hover:border-[#319b94] focus:outline-none"
                id="bookings-tab"
                data-tabs-target="#bookings"
                type="button"
                role="tab"
                aria-controls="bookings"
                aria-selected="false">
                Bookings
            </button>
        </li>
        <li class="me-2" role="presentation">
            <button
                class="inline-block p-4 border-b-2 rounded-t-lg hover:text-[#319b94] hover:border-[#319b94] focus:outline-none"
                id="notifications-tab"
                data-tabs-target="#notifications"
                type="button"
                role="tab"
                aria-controls="notifications"
                aria-selected="false">
                Notifications
            </button>
        </li>
    {% endif %}
    <li class="me-2" role="presentation">
        <button
            class="inline-block p-4 border-b-2 rounded-t-lg hover:text-[#319b94] hover:border-[#319b94] focus:outline-none"
            id="ratings-tab"
            data-tabs-target="#ratings"
            type="button"
            role="tab"
            aria-controls="ratings"
            aria-selected="false">
            Ratings
        </button>
    </li>
</ul>

<style>
    [aria-selected="true"] {
        color: #319b94 !important;
        border-color: #319b94 !important;
    }
</style>

    </div>
    <div id="default-tab-content">
        {% if request.user == user_profile %}
            {% call_method 'property_management.Booking' 'get_user_bookings_ordered' request.user as bookings %}
            {% include 'authentication/profile_tab/bookings_tab.html' with bookings=bookings %}
            {% include 'authentication/profile_tab/notification_tab.html' with notifications=request.user.notifications.all %}
        {% endif %}
        {% include 'authentication/profile_tab/ratings_tab.html' with user_ratings=request.user.ratings.all %}
    </div>
{% endblock %}