{% load static tailwind_tags %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1240, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Huntify{% endblock %}</title>
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
</head>
<body>
{% block content %}{% endblock %}
<script src="{% static 'node_modules/flowbite/dist/flowbite.min.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>