{% load static %}

<footer class="bg-white rounded-lg shadow-md m-4 px-6 py-3">
    <div class="max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="flex flex-wrap justify-between items-center">
            <!-- Logo and Brand Name -->
            <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse mb-4 sm:mb-0">
                <img src="{% static 'images/logo1.png' %}" alt="Logo" class="h-12 object-contain" />
                <span class="text-2xl font-semibold text-black">HUNTIFY</span>
            </a>

            <!-- Navigation Links -->
            <ul class="flex flex-wrap items-center text-sm font-medium text-gray-500 dark:text-gray-400 space-x-4 sm:space-x-6">
                <li>
                    <a href="#" class="hover:underline">About</a>
                </li>
                <li>
                    <a href="#" class="hover:underline">Privacy Policy</a>
                </li>
                <li>
                    <a href="#" class="hover:underline">Licensing</a>
                </li>
                <li>
                    <a href="#" class="hover:underline">Contact</a>
                </li>
            </ul>
        </div>

        <!-- Horizontal Divider -->
        <hr class="my-6 border-gray-200 dark:border-gray-700" />

        <!-- Footer Copyright -->
        <div class="text-sm text-gray-500 dark:text-gray-400 text-center">
            <span>© 2024 <a href="https://flowbite.com/" class="hover:underline">Huntify</a>. All Rights Reserved.</span>
        </div>
    </div>
</footer>
