<div class="hidden p-4 bg-gray-50 rounded-lg dark:bg-gray-800" id="ratings" role="tabpanel" aria-labelledby="ratings-tab">
    <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 max-h-[500px] overflow-y-auto">
        {% for user_rating in user_ratings %}
        <li class="rounded-2xl">
            <div
                class="bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 h-[350px] w-full flex flex-col">
                <!-- Image Container -->
                <div class="h-40 w-full overflow-hidden rounded-t-lg bg-gray-100 flex items-center justify-center">
                    <img class="h-full w-full object-cover" 
                         src="{{ user_rating.boarding_room.first_image }}" 
                         alt="boarding-room-image" />
                </div>
                <!-- Content -->
                <div class="p-4 flex flex-col justify-between flex-1">
                    <a href="{{ user_rating.boarding_room.get_absolute_url }}">
                        <h5 class="mb-2 text-xl font-semibold tracking-tight text-gray-900 dark:text-white">
                            {{ user_rating.boarding_room.name }} - 
                            <span class="text-sm font-medium">{{ user_rating.boarding_room.boarding_house.name }}</span>
                        </h5>
                    </a>
                    <p>
                        {% for i in "12345" %}
                        <i class="fa-star fas {% if forloop.counter <= user_rating.rating %}text-yellow-400{% else %}text-gray-400{% endif %}"></i>
                        {% endfor %}
                    </p>
                    <p class="text-sm text-gray-700 dark:text-gray-400 mt-4">
                        Reviewed on <time datetime="{{ user_rating.updated_at }}">{{ user_rating.updated_at|date:"F d, Y" }}</time>
                    </p>
                    <p class="mt-2 text-sm text-gray-700 dark:text-gray-400">{{ user_rating.feedback }}</p>
                </div>
            </div>
        </li>
        {% empty %}
        <li class="text-center text-gray-500 dark:text-gray-400">No ratings yet.</li>
        {% endfor %}
    </ul>
</div>
