{% extends 'html/base.html' %}
{% block title %}Boarding House Detail{% endblock %}
{% block content %}
    {% include 'html/header.html' %}
    <main>
        <section class="place-items-center border">
            <div
                class="grid w-[1240px] grid-cols-2 grid-rows-[3fr_1fr_1fr_1fr_1fr] gap-5"
            >
                <div class="col-start-1 row-span-3 row-start-1 border p-5">
                    <div class="grid h-full grid-cols-4 grid-rows-[4fr_1fr] gap-4">
                        <div class="col-span-4">
                            <div
                                class="flex h-full items-center justify-center rounded bg-gray-300 dark:bg-gray-700"
                            >
                                <svg
                                    class="h-10 w-10 text-gray-200 dark:text-gray-600"
                                    aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor"
                                    viewBox="0 0 20 18"
                                >
                                    <path
                                        d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z"
                                    />
                                </svg>
                            </div>
                        </div>
                        <div class="col-start-1">
                            <div
                                class="flex h-full items-center justify-center rounded bg-gray-300 dark:bg-gray-700"
                            >
                                <svg
                                    class="h-10 w-10 text-gray-200 dark:text-gray-600"
                                    aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor"
                                    viewBox="0 0 20 18"
                                >
                                    <path
                                        d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z"
                                    />
                                </svg>
                            </div>
                        </div>
                        <div class="col-start-2">
                            <div
                                class="flex h-full items-center justify-center rounded bg-gray-300 dark:bg-gray-700"
                            >
                                <svg
                                    class="h-10 w-10 text-gray-200 dark:text-gray-600"
                                    aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor"
                                    viewBox="0 0 20 18"
                                >
                                    <path
                                        d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z"
                                    />
                                </svg>
                            </div>
                        </div>
                        <div class="col-start-3">
                            <div
                                class="flex h-full items-center justify-center rounded bg-gray-300 dark:bg-gray-700"
                            >
                                <svg
                                    class="h-10 w-10 text-gray-200 dark:text-gray-600"
                                    aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor"
                                    viewBox="0 0 20 18"
                                >
                                    <path
                                        d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z"
                                    />
                                </svg>
                            </div>
                        </div>
                        <div class="col-start-4">
                            <div
                                class="flex h-full items-center justify-center rounded bg-gray-300 dark:bg-gray-700"
                            >
                                <svg
                                    class="h-10 w-10 text-gray-200 dark:text-gray-600"
                                    aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor"
                                    viewBox="0 0 20 18"
                                >
                                    <path
                                        d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z"
                                    />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-start-1 row-start-4 border p-5">
                    <p class="flex justify-between">
                        <strong>Boarding House Name</strong>
                        <span><strong>Price Range</strong>/Bills included</span>
                    </p>
                    <p>Boarding House Address</p>
                </div>
                <div class="col-start-1 row-start-5 border p-5"></div>
                <div class="col-start-2 row-start-1 border p-5">
                    <div class="border">
                        <h6 class="mb-2 font-bold">Description</h6>
                        <p>
              <span class="font-medium"
              >Landlord:
                <a
                    href="{% url 'authentication:profile' %}"
                    class="font-medium text-blue-600 hover:underline dark:text-blue-500"
                >Wewe</a
                ></span
              ><br />
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat
                            nam autem deleniti nostrum nihil quo fuga, inventore odio
                            voluptatem veritatis ipsam doloribus vel minus optio, rem
                            laudantium, facere ad recusandae?
                        </p>
                    </div>
                </div>
                <div class="col-start-2 row-start-2 border p-5">
                    <h5 class="pb-5">Landlord Rules</h5>
                    <div class="flex flex-wrap gap-x-5 gap-y-2">
                        <div class="flex items-center gap-2">
                            <div
                                class="flex size-5 items-center justify-center rounded bg-gray-300 dark:bg-gray-700"
                            >
                                <svg
                                    class="h-10 w-10 text-gray-200 dark:text-gray-600"
                                    aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor"
                                    viewBox="0 0 20 18"
                                >
                                    <path
                                        d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z"
                                    />
                                </svg>
                            </div>
                            <p>No smoking allowed</p>
                        </div>
                        <div class="flex items-center gap-2">
                            <div
                                class="flex size-5 items-center justify-center rounded bg-gray-300 dark:bg-gray-700"
                            >
                                <svg
                                    class="h-10 w-10 text-gray-200 dark:text-gray-600"
                                    aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor"
                                    viewBox="0 0 20 18"
                                >
                                    <path
                                        d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z"
                                    />
                                </svg>
                            </div>
                            <p>Pets are not allowed</p>
                        </div>
                    </div>
                </div>
                <div class="col-start-2 row-start-3 border p-5">
                    <h5 class="pb-5">Facilities</h5>
                </div>
                <div class="col-start-2 row-span-2 row-start-4 border p-5">
                    <div>
                        <p><strong>Total Rooms</strong><br /><span>5</span></p>
                    </div>
                    <div>
                        <p><strong>Available Rooms</strong><br /><span>3</span></p>
                        <a href="{% url 'boarding_house:boarding-house-rooms' %}">View Rooms</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}