{% extends 'html/base.html' %}
{% block title %}Rent A Room{% endblock %}
{% block content %}
    {% include 'html/header.html' %}
    <main class="border">
        <section class="border">
            <div class="mx-5 grid grid-cols-[1fr_4fr] gap-5">
                <div class="col-start-1 row-span-2 p-5">
                    <h6 class="font-medium">Filters</h6>
                    <div class="flex flex-col gap-5 border p-5">
                        <div class="border p-5">
                            <fieldset
                                class="rounded-lg border border-gray-300 p-4 dark:border-gray-600"
                            >
                                <legend
                                    class="text-sm font-medium text-gray-700 dark:text-gray-300"
                                >
                                    Budget
                                </legend>
                                <div class="flex space-x-4">
                                    <input
                                        type="number"
                                        id="min-budget"
                                        aria-describedby="helper-text-explanation"
                                        class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
                                        placeholder="Minimum"
                                        required
                                    />
                                    <input
                                        type="number"
                                        id="max-budget"
                                        aria-describedby="helper-text-explanation"
                                        class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
                                        placeholder="Maximum"
                                        required
                                    />
                                </div>
                            </fieldset>
                        </div>
                        <div class="border p-5">
                            <fieldset
                                class="rounded-lg border border-gray-300 p-4 dark:border-gray-600"
                            >
                                <legend
                                    class="text-sm font-medium text-gray-700 dark:text-gray-300"
                                >
                                    Room Type
                                </legend>
                                <div class="flex flex-col space-y-2">
                                    <label class="flex items-center">
                                        <input
                                            type="checkbox"
                                            class="form-checkbox h-4 w-4 text-blue-600 transition duration-150 ease-in-out"
                                        />
                                        <span class="ml-2 text-gray-700 dark:text-gray-300"
                                        >Tag 1</span
                                        >
                                    </label>
                                    <label class="flex items-center">
                                        <input
                                            type="checkbox"
                                            class="form-checkbox h-4 w-4 text-blue-600 transition duration-150 ease-in-out"
                                        />
                                        <span class="ml-2 text-gray-700 dark:text-gray-300"
                                        >Tag 2</span
                                        >
                                    </label>
                                    <label class="flex items-center">
                                        <input
                                            type="checkbox"
                                            class="form-checkbox h-4 w-4 text-blue-600 transition duration-150 ease-in-out"
                                        />
                                        <span class="ml-2 text-gray-700 dark:text-gray-300"
                                        >Tag 3</span
                                        >
                                    </label>
                                </div>
                            </fieldset>
                        </div>
                        <div class="border p-5">
                            <fieldset
                                class="rounded-lg border border-gray-300 p-4 dark:border-gray-600"
                            >
                                <legend
                                    class="text-sm font-medium text-gray-700 dark:text-gray-300"
                                >
                                    Amenities
                                </legend>
                                <div class="flex flex-col space-y-2">
                                    <label class="flex items-center">
                                        <input
                                            type="checkbox"
                                            class="form-checkbox h-4 w-4 text-blue-600 transition duration-150 ease-in-out"
                                        />
                                        <span class="ml-2 text-gray-700 dark:text-gray-300"
                                        >Tag 1</span
                                        >
                                    </label>
                                    <label class="flex items-center">
                                        <input
                                            type="checkbox"
                                            class="form-checkbox h-4 w-4 text-blue-600 transition duration-150 ease-in-out"
                                        />
                                        <span class="ml-2 text-gray-700 dark:text-gray-300"
                                        >Tag 2</span
                                        >
                                    </label>
                                    <label class="flex items-center">
                                        <input
                                            type="checkbox"
                                            class="form-checkbox h-4 w-4 text-blue-600 transition duration-150 ease-in-out"
                                        />
                                        <span class="ml-2 text-gray-700 dark:text-gray-300"
                                        >Tag 3</span
                                        >
                                    </label>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="col-start-2 p-5">
                    <div class="mb-5">
                        <h5 class="font-bold">Wewe Boarding House<br /><span class="font-light">Landlord: <a href="{% url 'authentication:profile' %}" class="font-medium text-blue-600 hover:underline dark:text-blue-500">Wewe</a></span>
                        </h5>
                        <p class="mt-5 mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-medium">4.95</span>
                            out of <span class="font-medium">5</span></p>
                        <div class="flex items-center">
                            <svg class="w-8 h-8 text-yellow-300" aria-hidden="true"
                                 xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                <path
                                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                            </svg>
                            <svg class="w-8 h-8 text-yellow-300" aria-hidden="true"
                                 xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                <path
                                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                            </svg>
                            <svg class="w-8 h-8 text-yellow-300" aria-hidden="true"
                                 xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                <path
                                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                            </svg>
                            <svg class="w-8 h-8 text-yellow-300" aria-hidden="true"
                                 xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                <path
                                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                            </svg>
                            <svg class="w-8 h-8 text-gray-300 dark:text-gray-500" aria-hidden="true"
                                 xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                <path
                                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                            </svg>
                        </div>
                    </div>
                    <h6 class="font-medium">List of Rooms<br><span class="font-light">344 rentals</span></h6>
                    <ul class="grid flex-1 grid-cols-3 gap-5 border p-5">
                        <li class="border p-5">
                            <a href="{% url 'boarding_house:boarding-room-detail' %}">
                                <div class="relative place-items-center">
                                    <div
                                        class="flex h-52 w-full items-center justify-center rounded bg-gray-300 dark:bg-gray-700"
                                    >
                                        <svg
                                            class="h-10 w-10 text-gray-200 dark:text-gray-600"
                                            aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg"
                                            fill="currentColor"
                                            viewBox="0 0 20 18"
                                        >
                                            <path
                                                d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z"
                                            />
                                        </svg>
                                        <div class="absolute right-2 top-2">
                                            <div
                                                class="flex size-10 items-center justify-center rounded bg-gray-300 dark:bg-gray-700"
                                            >
                                                <svg
                                                    class="h-10 w-10 text-gray-200 dark:text-gray-600"
                                                    aria-hidden="true"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    fill="currentColor"
                                                    viewBox="0 0 20 18"
                                                >
                                                    <path
                                                        d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z"
                                                    />
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-full pt-5">
                                        <p class="flex justify-between gap-5">
                                            Boarding Room Name
                                            <span><strong>Price</strong>/month</span>
                                        </p>
                                        <p>Boarding House Address</p>
                                    </div>
                                </div>
                            </a>

                        </li>
                        <li class="border p-5">
                            <a href="{% url 'boarding_house:boarding-room-detail' %}">
                                <div class="relative place-items-center">
                                    <div
                                        class="flex h-52 w-full items-center justify-center rounded bg-gray-300 dark:bg-gray-700"
                                    >
                                        <svg
                                            class="h-10 w-10 text-gray-200 dark:text-gray-600"
                                            aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg"
                                            fill="currentColor"
                                            viewBox="0 0 20 18"
                                        >
                                            <path
                                                d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z"
                                            />
                                        </svg>
                                        <div class="absolute right-2 top-2">
                                            <div
                                                class="flex size-10 items-center justify-center rounded bg-gray-300 dark:bg-gray-700"
                                            >
                                                <svg
                                                    class="h-10 w-10 text-gray-200 dark:text-gray-600"
                                                    aria-hidden="true"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    fill="currentColor"
                                                    viewBox="0 0 20 18"
                                                >
                                                    <path
                                                        d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z"
                                                    />
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-full pt-5">
                                        <p class="flex justify-between gap-5">
                                            Boarding Room Name
                                            <span><strong>Price</strong>/month</span>
                                        </p>
                                        <p>Boarding House Address</p>
                                    </div>
                                </div>
                            </a>

                        </li>

                    </ul>
                </div>
            </div>
        </section>
    </main>
{% endblock %}