{% load widget_tweaks %}
<div
    id="add-boarding-house-modal"
    tabindex="-1"
    aria-hidden="true"
    class="fixed hidden left-0 right-0 top-0 z-50 h-full w-full p-20 border"
>
    <div class="max-h-full w-full min-w-96 max-w-4xl bg-white p-4 overflow-y-auto">
        <form id="create-boarding_house" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="flex justify-between border px-5">
                <h1 class="text-center">Add Boarding House</h1>
                <button type="button" data-modal-hide="add-boarding-house-modal">
                    <i class="fa-solid fa-xmark text-2xl"></i>
                </button>
            </div>
            <div class="border">
                <div class="flex gap-x-5">
                    <div class="flex flex-1 flex-col gap-y-5 border">
                        <div class="border p-5">
                            <div>
                                <label
                                    for="{{ create_boarding_house_form.name.id_for_label }}"
                                    class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                                >Boarding House Name</label
                                >
                                {{ create_boarding_house_form.name|add_class:"block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"|add_error_class:"border-red-500"|attr:"placeholder:Enter boarding house name"|attr:"data-target-input:name" }}
                                {% if create_boarding_house_form.name.errors %}
                                    <div
                                        class="text-red-500 text-sm error">{{ create_boarding_house_form.name.errors.0 }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="border p-5">
                            <fieldset class="border py-2">
                                <legend class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Select an
                                    Address
                                </legend>
                                {{ create_boarding_house_form.province|add_class:"mt-2 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"|attr:"data-target-input:province" }}
                                {% if create_boarding_house_form.province.errors %}
                                    <div
                                        class="text-red-500 text-sm error">{{ create_boarding_house_form.province.errors.0 }}</div>
                                {% endif %}
                                {{ create_boarding_house_form.municipality|add_class:"mt-2 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"|attr:"data-target-input:municipality" }}
                                {% if create_boarding_house_form.municipality.errors %}
                                    <div
                                        class="text-red-500 text-sm error">{{ create_boarding_house_form.municipality.errors.0 }}</div>
                                {% endif %}
                                {{ create_boarding_house_form.barangay|add_class:"mt-2 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"|attr:"data-target-input:barangay" }}
                                {% if create_boarding_house_form.barangay.errors %}
                                    <div
                                        class="text-red-500 text-sm error">{{ create_boarding_house_form.barangay.errors.0 }}</div>
                                {% endif %}
                            </fieldset>
                            <div class="border py-2">
                                <div
                                    class="flex h-48 w-full items-center justify-center rounded bg-gray-300 dark:bg-gray-700">
                                    <iframe id="map-iframe"
                                            src=""
                                            width="100%"
                                            height="100%"
                                            style="border:0;"
                                            allowfullscreen=""
                                            loading="lazy"
                                            referrerpolicy="no-referrer-when-downgrade"
                                    ></iframe>
                                </div>
                            </div>
                        </div>
                        <div class="border p-5">
                            <label
                                for="{{ create_boarding_house_form.description.id_for_label }}"
                                class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                            >Description</label
                            >
                            {{ create_boarding_house_form.description|add_class:"block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"|attr:"rows:4"|attr:"placeholder:Enter description here"|attr:"data-target-input:description" }}
                            {% if create_boarding_house_form.description.errors %}
                                <div
                                    class="text-red-500 text-sm error">{{ create_boarding_house_form.description.errors.0 }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="flex flex-1 flex-col gap-y-5 border">
                        <div
                            class="border p-5"
                        >
                            <div class="flex flex-col gap-y-5 w-full items-center justify-center">
                                <div class="image-preview-container w-full">
                                </div>
                                <label
                                    for="{{ create_boarding_house_form.images.id_for_label }}"
                                    class="flex h-64 w-full cursor-pointer flex-col items-center justify-center rounded-lg border-2 border-dashed border-gray-300 bg-gray-50 hover:bg-gray-100 dark:border-gray-600 dark:bg-gray-700 dark:hover:border-gray-500 dark:hover:bg-gray-600 dark:hover:bg-gray-800"
                                >

                                    <div class="flex flex-col items-center justify-center pb-6 pt-5">
                                        <svg
                                            class="mb-4 h-8 w-8 text-gray-500 dark:text-gray-400"
                                            aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg"
                                            fill="none"
                                            viewBox="0 0 20 16"
                                        >
                                            <path
                                                stroke="currentColor"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                stroke-width="2"
                                                d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"></path>
                                        </svg>
                                        <p class="mb-2 text-center text-sm text-gray-500 dark:text-gray-400">
                                            Boarding House Images<br />
                                            <span class="font-semibold">Click to upload</span>
                                        </p>
                                        <p class="text-xs text-gray-500 dark:text-gray-400">
                                            Maximum of 5 images
                                        </p>
                                    </div>
                                    {{ create_boarding_house_form.images|add_class:"hidden"|attr:"data-target-input:images" }}
                                </label>
                                {% if create_boarding_house_form.images.errors %}
                                    <div
                                        class="text-red-500 text-sm error">{{ create_boarding_house_form.images.errors.0 }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border">
                {% if create_boarding_house_form.non_field_errors %}
                    <div
                        class="text-red-500 text-sm error py-5 text-center ">{{ create_boarding_house_form.non_field_errors }}</div>
                {% endif %}
                <div class="flex justify-end gap-5 border p-5">
                    <button
                        type="submit"
                        name="create-boarding_house"
                        class="rounded-lg bg-blue-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                    >
                        Create
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

