{% extends 'property_management/dashboard/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Dashboard - Bookings{% endblock %}
{% block side_content %}
    <div class="h-full border p-5">
        <div class="border p-2">
            <h1 class="text-2xl">Bookings Management</h1>
        </div>
        <div class="border p-2">
            <div class="flex justify-between">

                <button id="bookings-dropdown" data-dropdown-toggle="bookings-dropdown-menu"
                        data-dropdown-trigger="hover"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                        type="button">Bookings
                    <i class="ms-2 fa-solid fa-chevron-down"></i>
                </button>

                <!-- Dropdown menu -->
                <div id="bookings-dropdown-menu"
                     class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200 text-center"
                        aria-labelledby="bookings-dropdown">
                        <li>
                            <a href="#"
                               class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Pending</a>
                        </li>
                        <li>
                            <a href="#"
                               class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Approved</a>
                        </li>
                        <li>
                            <a href="#"
                               class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Completed</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="border p-2" id="booking-list">
            <form method="GET">
                <div class="flex items-center gap-x-5 my-5">
                    <div class="relative w-96">
                        <div
                            class="absolute inset-y-0 start-0 flex items-center ps-3"
                        >
                            <button type="submit">
                                <i class="fas fa-search text-gray-400"></i>
                            </button>

                        </div>
                        {{ search_form.query|add_class:"block w-full rounded-lg border border-gray-300 bg-gray-50 p-2 ps-10 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"|attr:"placeholder:Search here" }}
                    </div>

                    {{ search_form.search_by|add_class:"rounded-lg border border-gray-300 bg-gray-50 p-2 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500" }}
                </div>
            </form>
            <div id="table-container" class="relative overflow-x-auto pt-5 shadow-md sm:rounded-lg">
                {% block table %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}