{% extends 'property_management/dashboard/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Dashboard - Bookings{% endblock %}
{% block side_content %}
    <div class="h-full border p-5">
        <div class="border p-2">
            <h1 class="text-2xl">Bookings Management</h1>
        </div>
        <div class="border p-2" id="booking-list">
            <form method="GET">
                <div class="flex items-center gap-x-5 my-5">
                    <div class="relative w-96">
                        <div
                            class="absolute inset-y-0 start-0 flex items-center ps-3"
                        >
                            <button type="submit">
                                <i class="fas fa-search text-gray-400"></i>
                            </button>

                        </div>
                        {{ search_form.query|add_class:"block w-full rounded-lg border border-gray-300 bg-gray-50 p-2 ps-10 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"|attr:"placeholder:Search here" }}
                    </div>

                    {{ search_form.search_by|add_class:"rounded-lg border border-gray-300 bg-gray-50 p-2 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500" }}
                </div>
            </form>
            <div id="table-container" class="relative overflow-x-auto pt-5 shadow-md sm:rounded-lg">
                {% block table %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}