{% extends 'html/base.html' %}
{% block title %}Account Registration{% endblock %}
{% block content %}
{% load static %}

<main class="h-screen flex justify-center items-center bg-gray-100">
    <section class="bg-white rounded-lg shadow-lg p-6 w-full max-w-md sm:max-w-lg lg:max-w-xl space-y-8">
        <!-- Logo -->
        <div class="flex justify-center">
            <img src="{% static 'images/logo1.png' %}" alt="Logo" class="w-24 sm:w-32 md:w-36 h-auto">
        </div>

        <!-- Title -->
        <div class="text-center">
            <h1 class="text-3xl sm:text-4xl font-bold text-[#3e3d3d]/95 font-['Inter']">Account Registration</h1>
        </div>

        <!-- Form -->
        <form method="POST" class="grid grid-cols-1 sm:grid-cols-2 gap-6">
            {% csrf_token %}
            <!-- First Name -->
            <div>
                <label for="{{ form.first_name.id_for_label }}" class="block text-lg sm:text-xl font-medium text-gray-900 dark:text-white">{{ form.first_name.label }}</label>
                <input type="text" id="{{ form.first_name.id_for_label }}" name="{{ form.first_name.html_name }}" class="block w-full rounded-lg border-1 border-gray-300 p-3 text-lg sm:text-xl text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400" placeholder="John" required />
                {% if form.first_name.errors %}
                    <div class="text-red-500 text-sm pt-2">{{ form.first_name.errors.0 }}</div>
                {% endif %}
            </div>

            <!-- Last Name -->
            <div>
                <label for="{{ form.last_name.id_for_label }}" class="block text-lg sm:text-xl font-medium text-gray-900 dark:text-white">{{ form.last_name.label }}</label>
                <input type="text" id="{{ form.last_name.id_for_label }}" name="{{ form.last_name.html_name }}" class="block w-full rounded-lg border-1 border-gray-300 p-3 text-lg sm:text-xl text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400" placeholder="Doe" required />
                {% if form.last_name.errors %}
                    <div class="text-red-500 text-sm pt-2">{{ form.last_name.errors.0 }}</div>
                {% endif %}
            </div>

            <!-- Gender -->
            <div>
                <label for="{{ form.gender.id_for_label }}" class="block text-lg sm:text-xl font-medium text-gray-900 dark:text-white">{{ form.gender.label }}</label>
                <select id="{{ form.gender.id_for_label }}" name="{{ form.gender.html_name }}" class="block w-full rounded-lg border-1 border-gray-300 p-3 text-lg sm:text-xl text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white">
                    <option selected>Select a gender</option>
                    {% for option in form.gender.field.choices %}
                        <option value="{{ option.0 }}" {% if option.0 == form.gender.value %}selected{% endif %}>{{ option.1 }}</option>
                    {% endfor %}
                </select>
                {% if form.gender.errors %}
                    <div class="text-red-500 text-sm pt-2">{{ form.gender.errors.0 }}</div>
                {% endif %}
            </div>

            <!-- Birthdate -->
            <div>
                <label for="{{ form.birthdate.id_for_label }}" class="block text-lg sm:text-xl font-medium text-gray-900 dark:text-white">{{ form.birthdate.label }}</label>
                <input type="date" id="{{ form.birthdate.id_for_label }}" name="{{ form.birthdate.html_name }}" class="block w-full rounded-lg border-1 border-gray-300 p-3 text-lg sm:text-xl text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white" required />
                {% if form.birthdate.errors %}
                    <div class="text-red-500 text-sm pt-2">{{ form.birthdate.errors.0 }}</div>
                {% endif %}
            </div>

            <!-- Terms and Register Button -->
            <div class="col-span-2 text-center space-y-4">
                <p class="text-gray-700 text-lg sm:text-xl">
                    By signing up you agree to the <a href="#" class="text-[#3aafa9] hover:underline">terms and conditions</a>.
                </p>
                <button type="submit" class="rounded-lg bg-[#3aafa9] w-full py-3 sm:py-4 text-lg sm:text-xl font-medium text-white hover:bg-[#369e98]">
                    Register
                </button>
                {% if form.non_field_errors %}
                    <div class="text-red-500 text-sm pt-4">{{ form.non_field_errors }}</div>
                {% endif %}
            </div>
        </form>

        <!-- Logout Link -->
        <div class="text-center">
            <form method="POST" action="{% url 'authentication:logout' %}">
                {% csrf_token %}
                <button type="submit" class="text-sm py-2 px-4 bg-red-600 text-white font-normal rounded-lg hover:bg-red-700">
                    Sign out
                </button>
            </form>
        </div>
    </section>
</main>
{% endblock %}
