{% extends 'html/base.html' %}
{% block title %}Change Password{% endblock %}
{% block content %}
    {% include 'html/header.html' %}
    <main class="border">
        <section class="border max-w-minmax h-screen mx-auto">
            <div class="bg-[#3AAFA9] h-[20%]">
                <div class="border w-4/5 grid grid-cols-[1fr_5fr] h-full translate-y-1/2 ms-[10%]">

                    <div class="border col-start-1">
                        <label for="profile-pic-file" class="flex items-center justify-center cursor-pointer">
                            <div
                                class="flex size-48 items-center justify-center border-dashed rounded-full overflow-hidden border-2 border-gray-300 cursor-pointer bg-gray-50 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600"
                            >
                                <svg class="size-16 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                                          clip-rule="evenodd"></path>
                                </svg>
                            </div>
                            <input id="profile-pic-file" type="file" class="hidden" />
                        </label>

                    </div>
                    <div class="border col-start-2 h-1/2 translate-y-full px-5">
                        <h1 class="float-left">Antonio Ubaldo<br />0 Reviews</h1>
                    </div>
                    <div class="border row-start-2 col-span-2 bg-gray-200 p-5 mt-5">
                        <form>
                            <div class="flex flex-col w-1/3 mx-auto border gap-5">
                                <div class="border p-2">
                                    <div class="mb-6">
                                        <label for="old-password"
                                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Old Password</label>
                                        <input type="password" id="old-password"
                                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                               placeholder="•••••••••" required />
                                    </div>

                                </div>
                                <div class="border p-2">
                                    <div class="mb-6">
                                        <label for="new-password"
                                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New Password</label>
                                        <input type="password" id="new-password"
                                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                               placeholder="•••••••••" required />
                                    </div>
                                </div>
                                <div class="border p-2">
                                    <div class="mb-6">
                                        <label for="confirm-password"
                                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm Password</label>
                                        <input type="password" id="confirm-password"
                                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                               placeholder="•••••••••" required />
                                    </div>

                                </div>


                            </div>
                            <div class="float-right mt-5">
                                <button type="submit"
                                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                                    Save Changes
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}