{% extends "html/base.html" %}
{% block title %}Change Password{% endblock %}
{% block content %}
    {% include 'html/header.html' %}
    <div class="w-full h-[1000px] relative bg-white">
        <div class="w-[500] h-[238px] left-0 right-0 absolute bg-[#3aafa9]"></div>

        <div class="w-[1440px] h-[357px] left-[-11px] absolute">
            <img class="w-[200px] h-[200px] left-[250px] top-[115px] absolute rounded-full"
                 src="https://tinyurl.com/mhe3eu7f" />
            <div
                class="left-[470px] top-[231px] absolute text-black text-[37px] font-normal font-['Plus Jakarta Sans']">{{ user.username }}</div>
            <div class="left-[470px] top-[276px] absolute text-[#757575] text-2xl font-semibold font-['Inter']">69
                Reviews
            </div>
        </div>

        <div class="w-[687px] h-382px] left-[543px] top-[401px] absolute">
            <!--<div class="w-[1100px] h-[604px] top-[231px] left-[283px] bg-[#e8e8e8]/40"></div> -->
            <form method="post">
                {% csrf_token %}

                <!-- Current Password -->
                <div class="w-[446px] h-[88px] left-0 top-[3px] absolute">
                    <div
                        class="w-[446px] h-[58.67px] left-0 top-[29.33px] absolute bg-white rounded-[10px] border-2 border-[#d2d2d2]">
                        <input type="password" name="old_password" id="current-password-input"
                               class="w-full h-full bg-transparent border-none outline-none px-3 rounded-[10px]"
                               placeholder="Current Password" required />
                    </div>
                    <div
                        class="w-[223px] left-0 top-[-2.51px] absolute text-black text-2xl font-normal font-['Poppins']">
                        Current Password
                    </div>
                </div>


                <!-- New  -->
                <div class="w-[446px] h-[88px] left-0 top-[120px] absolute">
                    <div
                        class="w-[446px] h-[58.67px] left-0 top-[29.33px] absolute bg-white rounded-[10px] border-2 border-[#d2d2d2]">
                        <input type="password" name="new_password1" id="new-password-input"
                               class="w-full h-full bg-transparent border-none outline-none px-3 rounded-[10px]"
                               placeholder="New Password" required />

                    </div>
                    <div
                        class="w-[223px] left-0 top-[-2.51px] absolute text-black text-2xl font-normal font-['Poppins']">
                        New Password
                    </div>
                </div>

                <!-- Confirm  -->
                <div class="w-[446px] h-[88px] left-0 top-[235px] absolute">
                    <div
                        class="w-[446px] h-[58.67px] left-0 top-[29.33px] absolute bg-white rounded-[10px] border-2 border-[#d2d2d2]">
                        <input type="password" name="new_password2" id="confirm-password-input"
                               class="w-full h-full bg-transparent border-none outline-none px-3 rounded-[10px]"
                               placeholder="Confirm Password" required />
                    </div>
                    <div
                        class="w-[223px] left-0 top-[-2.51px] absolute text-black text-2xl font-normal font-['Poppins']">
                        Confirm Password
                    </div>
                </div>

                <div class="w-[207px] h-[43px] left-[500px] top-[385px] absolute">
                    <button type="submit" class="w-[207px] h-[43px] left-0 top-0 absolute bg-[#964834] rounded-lg">
                        <div
                            class="w-[136px] h-5 left-[36px] top-[7px] absolute text-center text-[#f7f6fe] text-[19px] font-semibold font-['Plus Jakarta Sans']">
                            Save Changes
                        </div>
                    </button>
                </div>
            </form>

            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>

    <script>
        const currentPasswordInput = document.querySelector("input[name=\"old_password\"]");
        const currentPasswordLabel = document.getElementById("current-password-label");

        currentPasswordInput.addEventListener("input", function() {
            if (currentPasswordInput.value) {
                currentPasswordLabel.style.display = "none";
            } else {
                currentPasswordLabel.style.display = "block";
            }
        });

        const newPasswordInput = document.querySelector("input[name=\"new_password1\"]");
        const newPasswordLabel = document.getElementById("new-password-label");

        newPasswordInput.addEventListener("input", function() {
            if (newPasswordInput.value) {
                newPasswordLabel.style.display = "none";
            } else {
                newPasswordLabel.style.display = "block";
            }
        });

        const confirmPasswordInput = document.querySelector("input[name=\"new_password2\"]");
        const confirmPasswordLabel = document.getElementById("confirm-password-label");

        confirmPasswordInput.addEventListener("input", function() {
            if (confirmPasswordInput.value) {
                confirmPasswordLabel.style.display = "none";
            } else {
                confirmPasswordLabel.style.display = "block";
            }
        });
    </script>
{% endblock %}