{% extends 'html/base.html' %}
{%load static%}
{% block content %}
    {% include 'html/header.html' %}
    
    <main class="mt-[80px] md:mt-[70px] lg:mt-[100px]"> <!-- Adjusted top margin to prevent overlap -->
        <section class="relative flex justify-center items-center px-6 md:px-10 lg:px-16">
            <div class="h-auto w-full max-w-[1240px]">
                <!-- Main Flex Container: Left Content & Right Image -->
                <div class="flex flex-col-reverse md:flex-row w-full relative">
                    <!-- Left Content Section -->
                    <div class="w-full md:w-1/2 self-center p-8 md:p-8 ">
                        <div class=" mx-4 md:mx-8 grid ">
                            <!-- Title -->
                            <div class="relative flex items-center ">
                                
                                    <div class="  top-0 absolute text-[#3aafa9] text-[79px] font-semibold font-['Open Sans'] capitalize">Huntify</div>
                                    <div class="  top-[86px] absolute text-[#1d2838] text-[40px] font-semibold font-['Plus Jakarta Sans'] capitalize">Where Home Begins</div>
                               
                            </div>
                        </div>
                    </div>
                    
                    

                
                    <!-- Right Image of Main -->
                    <div class="w-full md:w-1/2 ">
                        <div class="relative mx-4 md:mx-8 grid gap-6 md:gap-8">
                            <img src="{% static 'images/landing.png' %}" alt="Logo" 
                                class="w-full h-auto md:h-full object-cover md:object-cover">
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>
   
{% endblock %}