{% extends "html/base.html" %}
{% load static %} {% block title %}Profile - {{ user_profile.get_full_name }}{% endblock %}

{% block content %}
    {% include 'html/header.html' %}
    <main class="border-none">
        <section class="max-w-minmax h-screen mx-auto">
            <div class="bg-[#3AAFA9] h-[20%] min-h-52">
                <div
                    class="w-4/5 grid grid-cols-[1fr_5fr] grid-rows-[100%_auto] h-full translate-y-1/2 ms-[10%]">

                    <div class="col-start-1 place-items-center place-content-center">
                        <div
                            class="flex size-48 items-center justify-center rounded-full overflow-hidden border-2 border-gray-300 bg-gray-50"
                        >
                            <img id="profile-pic-preview" src="{{ user_profile.avatar }}" alt="Profile Image"
                                 class="size-full object-cover">
                        </div>

                    </div>
                    <div class="col-start-2 h-1/2 translate-y-full px-5 py-4">
                        <h5 class="text-lg float-left font-medium">{{ user_profile.get_full_name }}
                            {% if user_profile.user_type == 'landlord' %}
                                <span class="text-sm text-gray-400">(Landlord)</span>
                            {% elif user_profile.user_type == 'tenant' %}
                                <span class="text-sm text-gray-400">(Tenant)</span>
                            {% endif %}
                            <br />
                            <span class="font-medium text-sm">
                            {% if user_profile.user_type == 'tenant' %}
                                {{ user_profile.ratings.count }} Reviews
                            {% elif user_profile.user_type == 'landlord' %}
                                ⭐ {{ user_profile.get_aggregate_rating|default:"No ratings" }} Rating
                            {% elif user_profile.user_type == 'admin' %}
                                Admin
                            {% endif %}
                            </span>
                        </h5>
                        {% if user_profile == request.user %}
                            <a href="{% url 'authentication:edit-profile' %}"
                               class="float-right text-white bg-[#319b94] hover:bg-[#267c74] focus:ring-4 focus:ring-[#319b94] font-medium rounded-lg text-sm px-5 py-2.5">
                                Edit Profile
                            </a>
                        {% endif %}
                    </div>
                    <div class="row-start-2 col-start-1 h-full p-4">
                        <h5 class="font-bold mb-5">About</h5>
                        <ul class="flex flex-col gap-y-3">
                            <li>
                                <div class="flex items-center gap-x-2 p-2">
                                    <i class="fa-solid fa-user"></i>
                                    <span class="text-sm">{{ user_profile.gender|title }}</span>
                                </div>
                            </li>
                            <li>
                                <div class="flex items-center gap-x-2 p-2">
                                    <i class="fa-solid fa-cake-candles"></i>
                                    <span class="text-sm">
                                        {% if user_profile.birthdate %}
                                            Born {{ user_profile.birthdate|date:"F j, Y" }}
                                        {% else %}
                                            Birthdate not provided
                                        {% endif %}
                                    </span>
                                </div>
                            </li>
                            <li>
                                <div class="flex items-center gap-x-2 p-2">
                                    <i class="fa-solid fa-location-dot"></i>
                                    <span class="text-sm">
                                        {% if user_profile.street or user_profile.province or user_profile.municipality or user_profile.barangay %}
                                            {{ user.address }}
                                        {% elif user_profile == request.user %}
                                            <button data-modal-target="edit-address-modal"
                                                    data-modal-toggle="edit-address-modal"
                                                    class="text-[#319b94] hover:underline">
                                                Add Address
                                            </button>
                                        {% else %}
                                            Address not provided
                                        {% endif %}
                                    </span>
                                </div>
                            </li>
                            <li>
                                <div class="flex items-center gap-x-2 p-2">
                                    <i class="fa-solid fa-envelope"></i>
                                    <span class="text-sm">
                                        {% if user_profile.email %}
                                            {{ user_profile.email }}
                                        {% else %}
                                            None
                                        {% endif %}
                                    </span>
                                </div>
                            </li>
                            <li>
                                <div class="flex items-center gap-x-2 p-2">
                                    <i class="fa-solid fa-phone"></i>
                                    <span class="text-sm">
                                        {% if user_profile.phone_number %}
                                            {{ user_profile.phone_number }}
                                        {% elif user_profile == request.user %}
                                            <button data-modal-target="edit-contact-modal"
                                                    data-modal-toggle="edit-contact-modal"
                                                    class="text-[#319b94] hover:underline text-left">
                                                Add Phone Number
                                            </button>
                                        {% else %}
                                            Phone number not provided
                                        {% endif %}
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="row-start-2 col-start-2 h-full p-5">
                        {% block side_content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% if user_profile == request.user %}
        {% include 'authentication/modals/edit_address_modal.html' %}
        {% include 'authentication/modals/edit_phone_number_modal.html' %}
        {% include 'html/modals/confirmation-modal.html' %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                {% include 'html/modals/success_modal.html' with message=message %}
            {% endif %}
        {% endfor %}
    {% endif %}
    <script type="module" src="{% static 'js/profile.js' %}"></script>
{% endblock %}
