{% extends "html/base.html" %}
{% load static %} {% block title %}Profile - {{ user_profile.get_full_name }}{% endblock %}

{% block content %}
    {% include 'html/header.html' %}
    <main class="border">
        <section class="border max-w-minmax h-screen mx-auto">
            <div class="bg-[#3AAFA9] h-[20%] min-h-52">
                <div
                    class="border w-4/5 grid grid-cols-[1fr_5fr] grid-rows-[100%_auto] h-full translate-y-1/2 ms-[10%]">

                    <div class="border col-start-1 place-items-center place-content-center">
                        <div
                            class="flex size-48 items-center justify-center rounded-full overflow-hidden border-2 border-gray-300 bg-gray-50"
                        >
                            <img id="profile-pic-preview" src="
                                    {% if user_profile.profile_picture %}
                                    {{ user_profile.profile_picture.url }}
                                    {% else %}
                                    data:image/svg+xml,%3Csvg class='size-full' fill='currentColor' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E
                                    {% endif %}
                                     " alt="Profile Image"
                                 class="size-full object-cover">
                        </div>

                    </div>
                    <div class="border col-start-2 h-1/2 translate-y-full px-5">

                        <h5 class="float-left font-medium">{{ user_profile.get_full_name }}
                            {% if user_profile.user_type == 'landlord' %}
                                <span class="text-xs text-gray-400">(Landlord)</span>
                            {% elif user_profile.user_type == 'tenant' %}
                                <span class="text-xs text-gray-400">(Tenant)</span>
                            {% endif %}
                            <br />
                            <span class="font-normal text-xs">
                            {% if user_profile.user_type == 'tenant' %}
                                0 Reviews
                            {% elif user_profile.user_type == 'landlord' %}
                                ⭐ 4.9 Rating
                            {% elif user_profile.user_type == 'admin' %}
                                Admin
                            {% endif %}
                            </span>
                        </h5>
                        {% if user_profile == request.user %}
                            <a href="{% url 'authentication:edit-profile' %}"
                               class="float-right text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                                Edit Profile
                            </a>
                        {% endif %}
                    </div>
                    <div class="border row-start-2 col-start-1 h-full p-5">
                        <h5 class="font-bold mb-5">About</h5>
                        <ul class="flex flex-col gap-y-2">
                            <li>
                                <div class="flex items-center gap-x-2 border p-2">
                                    <i class="fa-solid fa-user"></i>
                                    <span class="text-sm ">{{ user_profile.gender|title }}</span>
                                </div>
                            </li>
                            <li>
                                <div class="flex items-center gap-x-2 border p-2">
                                    <i class="fa-solid fa-cake-candles"></i>
                                    <span class="text-sm ">
                                        {% if user_profile.birthdate %}
                                            Born {{ user_profile.birthdate|date:"F j, Y" }}
                                        {% else %}
                                            Birthdate not provided
                                        {% endif %}
                                    </span>
                                </div>
                            </li>
                            <li>
                                <div class="flex items-center gap-x-2 border p-2">
                                    <i class="fa-solid fa-location-dot"></i>
                                    <span class="text-sm ">
                                        {% if user_profile.street or user_profile.province or user_profile.municipality or user_profile.barangay %}
                                            {{ user_profile.street }}, {{ user_profile.province.name }},
                                            {{ user_profile.municipality.name }},
                                            {{ user_profile.barangay.name }}
                                        {% elif user_profile == request.user %}
                                            <button data-modal-target="edit-address-modal"
                                                    data-modal-toggle="edit-address-modal"
                                                    class="text-left text-blue-600 dark:text-blue-500 hover:underline">Add
                                            Address</button>
                                        {% else %}
                                            Address not provided
                                        {% endif %}
                                    </span>
                                </div>
                            </li>
                            <li>
                                <div class="flex items-center gap-x-2 border p-2">
                                    <i class="fa-solid fa-envelope"></i>
                                    <span class="text-sm ">
                                        {% if user_profile.email %}
                                            {{ user_profile.email }}
                                        {% else %}
                                            None
                                        {% endif %}
                                    </span>
                                </div>
                            </li>
                            <li>
                                <div class="flex items-center gap-x-2 border p-2">
                                    <i class="fa-solid fa-phone"></i>
                                    <span class="text-sm ">
                                        {% if user_profile.phone_number %}
                                            {{ user_profile.phone_number }}
                                        {% elif user_profile == request.user %}
                                            <button data-modal-target="edit-contact-modal"
                                                    data-modal-toggle="edit-contact-modal"
                                                    class="text-left text-blue-600 dark:text-blue-500 hover:underline">Add
                                            Phone Number</button>
                                        {% else %}
                                            Phone number not provided
                                        {% endif %}
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="border row-start-2 col-start-2 h-full p-5">
                        {% if user_profile.user_type == 'tenant' %}
                            <h5 class="font-bold">Bookings</h5>
                            <ol class="grid grid-cols-3 gap-5 mt-5">
                                {% if request.user.bookings %}
                                    {% for booking in request.user.bookings.all %}
                                        <li>
                                            <p>{{ booking }}</p>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ol>
                        {% elif user_profile.user_type == 'landlord' %}
                            <h5 class="font-bold">Properties</h5>
                            <ol class="grid grid-cols-3 gap-5 mt-5">
                                {% if user_profile.boarding_houses %}
                                    {% for boarding_house in user_profile.boarding_houses.all|dictsortreversed:"created_at" %}
                                        <li class="border p-2">
                                            <a href="{{ boarding_house.get_absolute_url }}">
                                                <div class="relative place-items-center">
                                                    {% if boarding_house.first_image %}
                                                        <img src="{{ boarding_house.first_image }}"
                                                             alt="{{ boarding_house.name }}"
                                                             class="h-52 w-full object-cover rounded">
                                                    {% else %}
                                                        <div
                                                            class="flex h-52 w-full items-center justify-center rounded bg-gray-300 dark:bg-gray-700">
                                                            <svg class="h-10 w-10 text-gray-200 dark:text-gray-600"
                                                                 aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                                                 fill="currentColor" viewBox="0 0 20 18">
                                                                <path
                                                                    d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z"></path>
                                                            </svg>
                                                        </div>
                                                    {% endif %}
                                                    <div class="w-full pt-5 text-xs">
                                                        <p class="flex justify-between gap-5">
                                                            {{ boarding_house.name }}
                                                            <strong>{{ boarding_house.price_range }}</strong>
                                                        </p>
                                                        <p class="text-gray-400">{{ boarding_house.address }}</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ol>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% if user_profile == request.user %}
        {% include 'authentication/modals/edit_address_modal.html' %}
        {% include 'authentication/modals/edit_phone_number_modal.html' %}
    {% endif %}
    <script type=" module" src="{% static 'js/profile.js' %}"></script>
{% endblock %}