{% extends 'html/base.html' %}
{% load static %}
{% block title %}Boarding House Detail{% endblock %}
{% block content %}
    {% include 'html/header.html' %}
    <main class="place-items-center border w-minmax mx-auto mt-[60px] md:mt-[80px] lg:mt-[100px]">
        <section class="clearfix w-full border p-5">
            <div class="float-left w-1/2 border p-5">
                <div class="grid h-[500px] grid-rows-[75%_25%]">
                    {% for image in boarding_house.get_images %}
                        <div class="image-container {% if forloop.first %}col-span-4{% endif %} border p-2">
                            <div
                                class="flex h-full items-center justify-center rounded bg-gray-300 text-center dark:bg-gray-700">
                                {% if image %}
                                    <img class="boarding-room-image h-full w-full object-cover cursor-pointer"
                                         data-modal-target="image-modal" data-modal-show="image-modal"
                                         src="{{ image.image.url }}"
                                         alt="room-image" />
                                {% else %}
                                    <svg class="placeholder-svg size-10 text-gray-200 dark:text-gray-600"
                                         aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                         viewBox="0 0 20 18">
                                        <path
                                            d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z" />
                                    </svg>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="border p-2">
                    <p class="flex justify-between">
                        <strong>{{ boarding_house.name }}</strong>
                        <strong>{{ boarding_house.price_range }}</strong>
                    </p>
                    <p><i class="me-2 fa-solid fa-location-dot"></i>{{ boarding_house.address }}</p>
                </div>
            </div>
            <div class="float-left w-1/2 border p-5">
                <div class="border">
                    <h6 class="mb-2 font-bold">Description</h6>
                    <p>
              <span class="font-medium"
              >Landlord:
                <a
                    href="{{ landlord.get_absolute_url }}"
                    class="font-medium text-blue-600 hover:underline dark:text-blue-500"
                >{{ landlord.username }}</a
                ></span
              ><br />
                        {{ boarding_house.description }}
                    </p>
                </div>
                <div class="mt-5 border">
                    <div class="col-start-2 row-span-2 row-start-4 border">
                        <div>
                            <p><strong>Total Rooms</strong><br /><span>{{ boarding_house.total_rooms }}</span></p>
                            <p><strong>Available Rooms</strong><br /><span>{{ boarding_house.status }}</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="w-full p-5">
            <h5 class="font-bold text-center">Rooms</h5>
            {% if boarding_rooms %}
                <ol class="grid grid-cols-4 gap-5 mt-5">
                    {% for room in boarding_rooms %}
                        <li class="border p-2">
                            <a href="{{ room.get_absolute_url }}">
                                <div class="relative place-items-center">
                                    {% if room.first_image %}
                                        <img src="{{ room.first_image }}"
                                             alt="{{ room.name }}"
                                             class="h-52 w-full object-cover rounded">
                                    {% else %}
                                        <div
                                            class="flex h-52 w-full items-center justify-center rounded bg-gray-300 dark:bg-gray-700">
                                            <svg class="h-10 w-10 text-gray-200 dark:text-gray-600"
                                                 aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                                 fill="currentColor" viewBox="0 0 20 18">
                                                <path
                                                    d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z"></path>
                                            </svg>
                                        </div>
                                    {% endif %}
                                    <div class="w-full pt-5 text-xs">
                                        <p class="flex justify-between gap-5">
                                            {{ room.name }}
                                            <strong>{{ room.price }}</strong>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ol>
            {% else %}
                <p class="text-center mt-5">No rooms available.</p>
            {% endif %}
        </section>
    </main>
    {% include 'property_management/modals/image_modal.html' %}
    <script type="module" src="{% static 'js/boarding_room_detail.js' %}"></script>
{% endblock %}
