{% extends 'html/base.html' %}
{% load static %}
{% block title %}Boarding Room Detail{% endblock %}
{% block content %}
    {% include 'html/header.html' %}
    <main class="place-items-center border w-minmax mx-auto">
        <section class="clearfix w-full border p-5">
            <div class="float-left w-1/2 border p-5">
                <div class="grid h-[500px] grid-rows-[75%_25%]">
                    {% for image in boarding_room.get_images %}
                        <div class="image-container {% if forloop.first %}col-span-4{% endif %} border p-2">
                            <div
                                class="flex h-full items-center justify-center rounded bg-gray-300 text-center dark:bg-gray-700">
                                {% if image %}
                                    <img class="boarding-room-image h-full w-full object-cover cursor-pointer"
                                         data-modal-target="image-modal" data-modal-show="image-modal"
                                         src="{{ image.image.url }}"
                                         alt="room-image" />
                                {% else %}
                                    <svg class="placeholder-svg size-10 text-gray-200 dark:text-gray-600"
                                         aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                         viewBox="0 0 20 18">
                                        <path
                                            d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z"></path>
                                    </svg>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="border p-2">
                    <div class="flex justify-between">
                        <h6 class="font-bold">{{ boarding_room.name }}<span class="font-normal"> / <a
                            href="{{ boarding_house.get_absolute_url }}"
                            class="font-medium text-blue-600 hover:underline dark:text-blue-500">{{ boarding_house.name }}</a></span>
                        </h6>
                        <p class="font-bold">
                            ₱{{ boarding_room.price }}<span class="font-normal">/Bills included</span>
                        </p>
                    </div>
                    <p class="flex items-center">
                        <i class="me-2 fa-solid fa-location-dot"></i>
                        {{ boarding_house.address }}
                    </p>
                </div>
                <div class="border p-2">
                    <p>Status: <span>{{ boarding_room.status }}</span></p>
                </div>
            </div>
            <div class="float-left w-1/2 border p-5">
                <div class="border">
                    <h6 class="mb-2 font-bold">Description</h6>
                    <p>
              <span class="font-medium"
              >Landlord:
                <a
                    href="{{ landlord.get_absolute_url }}"
                    class="font-medium text-blue-600 hover:underline dark:text-blue-500"
                >{{ landlord.username }}</a
                ></span
              ><br />
                        {{ boarding_room.description }}
                    </p>
                </div>
                <div class="border my-5">
                    <h5 class="mb-2 font-bold">Tags</h5>
                    <div>
                        {% if boarding_room.tags.all %}
                            <ul class="flex flex-wrap gap-2">
                                {% for room_tag in boarding_room.tags.all %}
                                    <li class="p-2 bg-gray-100 text-gray-800 text-xs font-medium px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300">{{ room_tag.tag.name }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>No tags available</p>
                        {% endif %}
                    </div>
                </div>
                {% if user.user_type == 'tenant' %}
                    <div class="mt-5 border">
                        {% include 'property_management/request_booking_form.html' %}
                    </div>
                {% endif %}
            </div>
        </section>
    </main>
    {% include 'property_management/modals/image_modal.html' %}
    <script type="module" src="{% static 'js/boarding_room_detail.js' %}"></script>
{% endblock %}