{% extends 'html/base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
{% load static %}
    <main class="flex min-h-screen flex-col md:flex-row">
        <!-- Sidebar -->
        <aside class="border-2 p-5 w-full md:w-1/4 lg:w-1/5 xl:w-1/6">
            <div class="h-full w-fit p-5">
                <div class="my-10 p-5">
                    <a href="{% url 'authentication:home' %}">
                        <div class="flex items-center justify-center">
                            <img src="{% static 'images/logo1.png' %}" alt="Logo"
                                 class="w-full h-auto object-contain max-w-[143px] max-h-[122px]" />
                        </div>
                    </a>
                </div>
                <div>
                    <nav>
                        <ul class="flex flex-col gap-y-5">
                            <li>
                                <div class="flex items-center gap-x-2 p-2">
                                    <i class="fa-solid fa-people-roof"></i>
                                    <a href="{% url 'property_management:dashboard' %}">Property Management</a>
                                </div>
                            </li>
                            <li>
                                <div class="flex items-center gap-x-2 p-2">
                                    <i class="fa-solid fa-book"></i>
                                    <a href="{% url 'property_management:booking-management' %}">Booking Management</a>
                                </div>
                            </li>
                            <li>
                                <div class="flex items-center gap-x-2 p-2">
                                    <i class="fa-solid fa-person-shelter"></i>
                                    <a href="{% url 'property_management:tenant-management' %}">Tenants</a>
                                </div>
                            </li>
                            <li>
                                <div class="flex items-center gap-x-2 p-2">
                                    <i class="fa-solid fa-user"></i><a href="{{ user.get_absolute_url }}">View Profile</a>
                                </div>
                            </li>
                            <li>
                                <div class="flex items-center gap-x-2 p-2">
                                    <i class="fa-solid fa-house"></i>
                                    <a href="{% url 'authentication:home' %}">Go back to home</a>
                                </div>
                            </li>
                            <li>
                                <div class="border p-2">
                                    <form method="POST" action="{% url 'authentication:logout' %}">
                                        {% csrf_token %}
                                        <button type="submit" class="block w-full text-red-500">
                                            <i class="fa-solid fa-right-from-bracket"></i>
                                            Sign out
                                        </button>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </aside>
        
        <!-- Content Section -->
        <section class="flex-1 border p-5 md:ml-0 md:flex-1">
            {% block side_content %}{% endblock %}
        </section>
    </main>
{% endblock %}
