<h1 class="text-center pb-5 text-2xl font-semibold text-gray-900 dark:text-gray-200">Boarding Houses
<span class="text-sm font-normal text-gray-500">({{ total_boarding_houses }})</span>
</h1>
<table
    id="property-table"
    class="w-full text-left text-sm text-gray-500 dark:text-gray-400 rtl:text-right"
>
    <thead
        class="bg-gray-50 text-xs uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400"
    >
    <tr>
        <th scope="col" class="px-6 py-3">
            <a href="?sort=name&direction={% if request.GET.direction == 'asc' %}desc{% else %}asc{% endif %}&query={{ request.GET.query }}">
                Name
                <i class="ms-2 fa-solid fa-sort"></i>
            </a>
        </th>
        <th scope="col" class="px-6 py-3">
            <a href="?sort=available_rooms&direction={% if request.GET.direction == 'asc' %}desc{% else %}asc{% endif %}&query={{ request.GET.query }}">
                Available Rooms
                <i class="ms-2 fa-solid fa-sort"></i>
            </a>
        </th>
        <th scope="col" class="px-6 py-3" data-type="date" data-format="MM/DD/YYYY">
            <a href="?sort=created_at&direction={% if request.GET.direction == 'asc' %}desc{% else %}asc{% endif %}&query={{ request.GET.query }}">
                Date Created
                <i class="ms-2 fa-solid fa-sort"></i>
            </a>
        </th>
        <th scope="col" class="px-6 py-3">
            Address
        </th>
        <th scope="col" class="px-6 py-3" data-sortable="false">
            Action
        </th>
    </tr>
    </thead>
    <tbody>
    {% if not boarding_houses %}
        <tr>
            <td colspan="5" class="text-center py-5 text-gray-500 dark:text-gray-400">
                No boarding houses found.
            </td>
        </tr>
    {% endif %}
    {% for boarding_house in boarding_houses %}
        <tr class="bg-white dark:bg-gray-800">
            <td class="px-6 py-4">
                <a href="#" class="font-medium text-gray-900">{{ boarding_house.name }}</a>
            </td>
            <td class="px-6 py-4">{{ boarding_house.status }}</td>
            <td class="px-6 py-4">{{ boarding_house.created_at|date:"m/d/Y" }}</td>
            <td class="px-6 py-4">{{ boarding_house.address }}</td>
            <td class="flex items-center px-6 py-4">
                <a
                    href="#"
                    class="font-medium text-blue-600 hover:underline dark:text-blue-500"
                >
                    <i class="fa-solid fa-square-pen text-xl"></i>
                </a>
                <form class="delete-property-form" method="POST"
                      action="{% url 'property_management:delete-boarding-house' boarding_house.id %}">
                    {% csrf_token %}
                    <button
                        data-modal-target="confirmation-modal"
                        data-modal-show="confirmation-modal"
                        data-item-name="{{ boarding_house.name }}"
                        type="submit"
                        name="delete-boarding_house"
                        class="delete-property-button ms-3 font-medium text-red-600 hover:underline dark:text-red-500"
                    >
                        <i class="fa-solid fa-trash-can text-xl"></i>
                    </button>
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="flex items-center justify-between p-5">
    <!-- Help text -->
    <span class="text-sm text-gray-700 dark:text-gray-400">
      Showing <span class="font-semibold text-gray-900 dark:text-white">{{ page_obj.number }}</span> of <span
        class="font-semibold text-gray-900 dark:text-white">{{ page_obj.paginator.num_pages }}</span> Entries
  </span>
    <!-- Buttons -->
    <div class="inline-flex mt-2 xs:mt-0">
        {% if page_obj.has_previous %}
            <a href="?page=1"
               class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
                First
            </a>
            <a href="?page={{ page_obj.previous_page_number }}"
               class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
                Prev
            </a>
        {% endif %}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.paginator.num_pages }}"
               class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
                Next
            </a>
            <a href="?page={{ page_obj.paginator.num_pages }}"
               class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
                Last
            </a>
        {% endif %}
    </div>
</div>

