{% load widget_tweaks %}
<form method="POST" class="rounded-lg p-6 shadow-lg bg-gray-100">
    {% csrf_token %}
    <div class="text-center font-bold text-black">
        <h6 class="py-2 text-2xl">Booking Details</h6>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div class="col-start-1 row-start-1 p-4">
            <label for="{{ form.first_name.id_for_label }}" class="mb-2 block text-sm font-semibold text-gray-900 dark:text-white">First name</label>
            {{ form.first_name|add_class:"block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-[#319b94] focus:ring-[#319b94] dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-[#319b94] dark:focus:ring-[#319b94]"|attr:"placeholder:Enter first name" }}
        </div>
        <div class="col-start-2 row-start-1 p-4">
            <label for="{{ form.last_name.id_for_label }}" class="mb-2 block text-sm font-semibold text-gray-900 dark:text-white">Last name</label>
            {{ form.last_name|add_class:"block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-[#319b94] focus:ring-[#319b94] dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-[#319b94] dark:focus:ring-[#319b94]"|attr:"placeholder:Enter last name" }}
        </div>
        <div class="col-start-1 row-start-2 p-4">
            <label for="{{ form.contact_number.id_for_label }}" class="mb-2 block text-sm font-semibold text-gray-900 dark:text-white">Contact Number</label>
            <div class="flex">
                <div class="inline-flex flex-shrink-0 items-center rounded-l-lg border border-gray-300 bg-gray-100 px-4 py-2.5 text-center text-sm font-semibold text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white">
                    <svg class="me-2 h-4 w-4" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                        <path d="M1,24c0,2.209,1.791,4,4,4H27c2.209,0,4-1.791,4-4V15H1v9Z" fill="#be2a2c"></path>
                        <path d="M27,4H5c-2.209,0-4,1.791-4,4v8H31V8c0-2.209-1.791-4-4-4Z" fill="#1334a3"></path>
                        <path d="M2.316,26.947l13.684-10.947L2.316,5.053c-.803,.732-1.316,1.776-1.316,2.947V24c0,1.172,.513,2.216,1.316,2.947Z" fill="#fff"></path>
                    </svg>
                    +63
                </div>
                <div class="relative w-full">
                    {{ form.contact_number|add_class:"block w-full rounded-r-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-[#319b94] focus:ring-[#319b94] dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-[#319b94] dark:focus:ring-[#319b94]"|attr:"placeholder:912100676"|attr:"pattern:[0-9]{2}[0-9]{9}" }}
                </div>
            </div>
        </div>
        <div class="col-start-2 row-start-2 p-4">
            <label for="{{ form.email.id_for_label }}" class="mb-2 block text-sm font-semibold text-gray-900 dark:text-white">Email address</label>
            {{ form.email|add_class:"block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-[#319b94] focus:ring-[#319b94] dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-[#319b94] dark:focus:ring-[#319b94]"|attr:"placeholder:Enter your email address" }}
        </div>
        <div class="col-span-2 row-start-3 p-4">
            <fieldset class="flex justify-between gap-2">
                <legend class="text-sm font-semibold text-gray-900 dark:text-white mb-2">Booking Date and Time</legend>
                <div class="relative w-full">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <i class="fa-solid fa-calendar-days"></i>
                    </div>
                    {{ form.visit_date|add_class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#319b94] focus:border-[#319b94] block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-[#319b94] dark:focus:border-[#319b94]"|attr:"placeholder:Select date"|attr:"datepicker"|attr:"datepicker-buttons"|attr:"datepicker-autohide"|attr:"datepicker-autoselect-today"|attr:'datepicker-min-date="12/12/2024"' }}
                </div>
                <div class="relative w-full">
                    <div class="relative">
                        <div class="absolute inset-y-0 end-0 top-0 flex items-center pe-3.5 pointer-events-none">
                            <i class="fa-regular fa-clock"></i>
                        </div>
                        {{ form.visit_time|add_class:"bg-gray-50 border leading-none border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#319b94] focus:border-[#319b94] block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-[#319b94] dark:focus:border-[#319b94]"|attr:"placeholder:Select time"|attr:"type:time"|attr:"value:00:00" }}
                    </div>
                </div>
            </fieldset>
            <div class="mt-10">
                <label for="{{ form.message.id_for_label }}" class="mb-2 block text-sm font-semibold text-gray-900 dark:text-white">Note to landlord</label>
                {{ form.message|add_class:"block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-[#319b94] focus:ring-[#319b94] dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-[#319b94] dark:focus:ring-[#319b94]"|attr:"placeholder:Write a note for the landlord..." }}
            </div>
        </div>
    </div>
    <div class="text-center p-4">
        <button type="submit" name="request-booking" class="rounded-lg bg-[#319b94] px-5 py-2.5 text-sm font-medium text-white hover:bg-[#319b94]">
            Request Booking
        </button>
    </div>
</form>
