{% extends 'boarding_house/dashboard/base.html' %}
{% load static %}
{% block title %}Dashboard - Property Management{% endblock %}
{% block side_content %}
    <div class="h-full border p-5">
        <div class="border p-2">
            <h1 class="text-2xl">Property Management</h1>
        </div>
        <div class="border p-2">
            <div class="flex justify-between">
                <select
                    id="property-type"
                    class="block rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
                >
                    <option value="boarding_room" selected>Boarding Rooms</option>
                    <option value="boarding_house">Boarding Houses</option>
                </select>
                <div>
                    <button
                        data-modal-target="add-boarding-room-modal"
                        data-modal-toggle="add-boarding-room-modal"
                        type="button"
                        class="rounded-lg bg-blue-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                    >
                        Add Room
                    </button>
                    <button
                        data-modal-target="add-boarding-house-modal"
                        data-modal-toggle="add-boarding-house-modal"
                        type="button"
                        class="rounded-lg bg-blue-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                    >
                        Add Boarding House
                    </button>
                </div>
            </div>
        </div>
        <div class="border p-2" id="property-list">
            <div class="relative w-96">
                <div
                    class="pointer-events-none absolute inset-y-0 start-0 flex items-center ps-3"
                >
                    <svg
                        class="h-4 w-4 text-gray-500 dark:text-gray-400"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 20 20"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                        />
                    </svg>
                </div>
                <input
                    type="search"
                    id="table-search"
                    class="datatable-input block w-full rounded-lg border border-gray-300 bg-gray-50 p-2 ps-10 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
                    placeholder="Search..."
                    aria-controls="default-table"
                    required
                />
            </div>

            <div id="table-container" class="relative overflow-x-auto pt-5 shadow-md sm:rounded-lg">

            </div>
        </div>
    </div>
    {% include 'boarding_house/add_boarding_house_modal.html' %}
    {% include 'boarding_house/add_boarding_room_modal.html' %}
{% endblock %}
{% block scripts %}
    <script type="module">
        import { DataTable } from "{% static 'node_modules/simple-datatables/dist/module.js' %}";

        $(document).ready(function() {
            function initializeDataTable() {
                if ($("#default-table") && typeof DataTable !== "undefined") {
                    const dataTable = new DataTable("#default-table", {
                        searchable: false,
                        perPage: 5,
                        perPageSelect: false
                    });

                    $("#table-search").on("input", function() {
                        dataTable.search(this.value);
                    });
                }
            }

            initializeHTMLTable($("#property-type").val());

            $("#property-type").on("change", function() {
                initializeHTMLTable(this.value);
            });

            function initializeHTMLTable(property_type) {
                const url = "{% url 'boarding_house:get-property-table' property_type='PLACEHOLDER' %}".replace("PLACEHOLDER", property_type);
                console.log(url);
                $("#table-container").load(url, function() {
                    initializeDataTable();
                });
            }
        });
    </script>
{% endblock %}